.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button {
  cursor: pointer;
  background-color: unset;
  border: none;
  color: white;
  line-height: 16px;
  font-size: 14px;
  margin: 0 4px;
}